@model IEnumerable<Entity.models.Order>

@{
ViewData["Title"] = "Index";
}

<h1>Pending orders</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TableTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedWhen)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TableTag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedWhen)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.Id">Begin order</a> |
        </td>
    </tr>
    }
    </tbody>
</table>
