@{
    ViewData["Title"] = "Orders";
    var pendingOrders = ViewData["pendingOrders"] as IEnumerable<Entity.Models.Order>;
    var startedOrders = ViewData["startedOrders"] as IEnumerable<Entity.Models.Order>;
}

<h1 class="text-center mb-4">Pending Orders</h1>

<table class="table table-striped table-bordered mb-4">
    <thead class="table-dark">
        <tr>
            <th>Total</th>
            <th>Table Number</th>
            <th>Waiter</th>
            <th>Created On</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (pendingOrders != null && pendingOrders.Any())
        {
            @foreach (var item in pendingOrders)
            {
                <tr>
                    <td>@item.Total.ToString("C0")</td>
                    <td>@item.TableTag</td>
                    <td>@item.CreatedBy?.FullName</td>
                    <td>@item.CreatedWhen.ToString("g")</td>
                    <td>
                        <a asp-action="Details" class="btn btn-success btn-sm" asp-route-id="@item.Id">Begin Order</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center text-muted">No pending orders at the moment.</td>
            </tr>
        }
    </tbody>
</table>

<h1 class="text-center mb-4 mt-4">Started Orders</h1>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Total</th>
            <th>Table Number</th>
            <th>Waiter</th>
            <th>Created On</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (startedOrders != null && startedOrders.Any())
        {
            @foreach (var item in startedOrders)
            {
                <tr>
                    <td>@item.Total.ToString("C0")</td>
                    <td>@item.TableTag</td>
                    <td>@item.CreatedBy?.FullName</td>
                    <td>@item.CreatedWhen.ToString("g")</td>
                    <td>
                        <a asp-action="Details" class="btn btn-success btn-sm" asp-route-id="@item.Id">Continue Order</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center text-muted">No started orders at the moment.</td>
            </tr>
        }
    </tbody>
</table>
